@import './vars.scss';

.post_item-detail_block.light {
    border-color: $blue;
    background-color: $foreground;

    & .comments_block {
        border-top-color: $blue;

        & .comment_email {
            color: $green;
        }
    }
}
