.btn {
    max-width: 300px;
    max-height: 50px;
    padding: 10px 15px;
    border: 2px solid;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}
