.block {
    margin-top: 50px;
    padding: 10px;
    border: 3px solid #1174C9;
    border-radius: 5px;
}
.commentsBlock {
    margin-top: 15px;
    border-top: 3px solid #1174C9;
}
.commentsTitle {
    padding: 15px 0;
}
.comment {
    margin: 10px 0 15px;
}