//AyuMirage

$background: #1F2430;
$foreground: #2D3445;
$mainTextColor:  #e2e2e2;

$orange: #ffa759;
$lightOrange: #FFBE85;
$green: #bae67e;
$lightGreen: #bae67e;
$blue: #6495ed;
$red: red;

//Dracula
/* $background: #282A36;
$foreground: #444444;
$mainTextColor:  #fff;

$green: #50fa7b;
$lightGreen: #FFBE85;
$blue: #8be9fd;
$red: red; */

//Gogh
/* $background: #292D3E;
$foreground: #444444;
$mainTextColor:  #fffefe;

$green:  #62de84;
$lightGreen:  #c3e88d;
$blue: #75a1ff;
$red: red; */

/* //laserwave
$background: rgb(31, 25, 38);
$foreground: #444444;
$mainTextColor:  #fffefe;

$green:   #afd686;
$lightGreen:  #c3e88d;
$blue: #b4dce7;
$red: red; */

//neon-night
/* $background: #20242D;
$foreground: #444444;
$mainTextColor:  #fffefe;

$green:   #fcad3f;
$lightGreen:  #c3e88d;
$blue: #69b4f9;
$red: red; */

//OneDark
//TokyoNight

