* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .App {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10%;
    font-size: 20px;
} */
.title {
    width: 100%;
    text-align: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    min-width: 600px;
    height: 250px;
    margin-top: 50px;
}
.login-form .btns-block {
    display: flex;
    justify-content: center;
}

.post-enter {
    transform: translateX(-100%);
}
.post-enter-active {
    transform: translateX(0);
    transition: transform 500ms ease-in;
}
.post-exit {
    transform: translateX(0);
}
.post-exit-active {
    transform: translateX(100%);
    transition: transform 500ms ease-in;
}

/* .blue {
    border: 2px solid #1174C9;
    color: #1174C9;
}
.blue:hover {
    background-color: #1174C9;
}
.green {
    border: 2px solid #076D12;
    color: #076D12;
}
.green:hover {
    background-color: #076D12;
}
.red {
    color: red;
} */
